=@book.isbn
%br
=@book.search_amazon
-# =@book.derived_signing_key
-# %br
-# =@book.canonical_request
-# %br
-# =@book.string_to_sign



-# -request=http://webservices.amazon.com/onca/xml?
-#   Service=AWSECommerceService
-#   &Operation=ItemLookup
-#   &ResponseGroup=Large
-#   &SearchIndex=All
-#   &IdType=ISBN
-#   &ItemId=076243631X
-#   &AWSAccessKeyId=ENV["AWS_ACCESS_KEY_ID"]
-#   &AssociateTag=[Your_AssociateTag]
-#   &Timestamp=[YYYY-MM-DDThh:mm:ssZ]
-#   &Signature=[Request_Signature]
